* {
    margin: 0
}
body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    white-space: 0;
}
.topbar {
    position: relative;
    top: 0;
    padding: 0 1em;
    background-color: white;
    border-bottom: rgb(151, 150, 150) 1px solid;
}
.topbar div{
    display: inline-block;
}
#line{
    position: relative;
    top: 15px;
    background-color: rgb(52, 98, 136);
    width: 5px;
    height: 60px;
}
/* .div-logo{
    border-left: 5px solid rgb(52, 98, 136);
} */
.div-logo img{
    width: 80px;
    height: auto;
}
.div-logo h1 p{
    position: absolute;
    top: 30px;
    left: 100px;
    font-size: 40px;
    color: rgb(52, 98, 136);
}
.top-right{
    font-family: "Padauk Book", "Noto Mono";
    position: absolute;
    top: 20px;
    right: 5%;
    
}
.top-right div{
    display: inline-block;
    cursor: pointer;
}
.ordernow{
    font-weight: 600;
    padding: 0.5em 0.8em;
    background-color:  rgb(52, 98, 136);
    color: white;
    text-transform: uppercase;
    margin-left: 1em;
}
.ordernow:hover{
    transform: scale(1.1);
   box-shadow: 2px 2px 2px #000000;
   transition: all ease-out 280ms;
}
#home{
    font-size: 20px;
}
#home:hover{
    font-size: 23px;
    font-weight: bolder;
    transition: all ease-out 200ms;
}
.grid-container{
    height: 80vh;

}
.hometext{
    padding-top: 10px;
    position: relative;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    font-family: "Roboto", Sans-serif;
    font-size: 50px;
    font-weight: 600;
}
.hometext .anim{
    color: rgb(0, 86, 245);
}
.carousel{
    position:absolute;
    right: 30px;
    top: 25vh;
    width: 50%;
    height: 70vh;
}
#text{
    font-size: 35px;
}
#order{
    font-size: 30px;
    width:250px;
    margin-left: 20px; 
    padding: 10px 0;
    text-align: center;
    background-color: rgb(52, 98, 136);
    color: white;
}
#order:hover{
    background-color: rgb(92, 90, 90);
    cursor: pointer;
    transition: all 1s;
}
.icons{
    display: flex;
    justify-content: row;
    position: fixed;
    top: 11vh;
    right: 30px;
    margin-top: 30px;
    font-size: 40px;
    z-index: 997;
}
@media (min-width: 1270px){
    .icons{
        top: 12vh;
        right: 15vh;
    }
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    /* border: #fff solid 1px; */
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
}
.icon a{
    color: inherit;
} 
.whatsapp{
    color: green;
}
.whatsapp:hover{
    background-color: darkgreen;
    color: white;
    transition: all 0.5s;
}
.facebook{
    color: blue;
}
.facebook:hover{
    background-color: blue;
    color: white;
    transition: all 0.5s;
}
.instagram{
    color: rgb(180, 16, 48)
}
.instagram:hover{
    background-color: crimson;
    color: whitesmoke;
    transition: all 0.5s;
}
/* #footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    margin: 0;
    text-align: center;
    background-color: rgb(92, 90, 90);
    font-size: 16px;
    color: white;
}
#footer strong{
    color: blue;
} */
